

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sidebar-nav.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="~/Content/css-chart.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/blue.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />

    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>

</head>
<body>
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part">
                    <a class="logo" href="@Url.Action("Index","Kitap")">
                        <b></b><span class="hidden-xs">
                            <img src="~/Content/image/admin1.png" width="40" style="margin-bottom: 30px; margin-left: 6px;" />  <!-- admin icon fotosu -->
                        </span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="~/Content/image/kullanici.png" alt="user-img" width="36" class="img-circle"> <b class="hidden-xs"> @Request.Cookies["uye"]["Ad"]  @Request.Cookies["uye"]["Soyad"]</b> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">

                            <li><a href="@Url.Action("ProfilBilgilerimiGuncelle", "Uyelik")"><i class="fa fa-power-off"></i>Profil Bilgilerimi Güncelle</a></li>
                            <li><a href="@Url.Action("CikisYap", "Giris")"><i class="fa fa-power-off"></i>Çıkış Yap</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>

                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li class="user-pro">
                        <a href="#" class="waves-effect"><img src="~/Content/image/kullanici.png" alt="user-img" class="img-circle"> <span class="hide-menu"> @Request.Cookies["uye"]["Ad"]  @Request.Cookies["uye"]["Soyad"]<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">

                            <li><a href="@Url.Action("ProfilBilgilerimiGuncelle", "Uyelik")"><i class="fa fa-power-off"></i>Profil Bilgilerimi Güncelle</a></li>
                            <li><a href="@Url.Action("CikisYap", "Giris")"><i class="fa fa-power-off"></i> Çıkış yap</a></li>
                        </ul>
                    </li>
                    <li class="nav-small-cap m-t-10">--- Menüler</li>
                    <li>
                        <a href="@Url.Action("Index", "Istatistik")" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i>İstatistikler </a>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i  data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Kategoriler <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Kategori")">Listele</a></li>
                            <li><a id="ktgEkle" href="javascript:void(0)">Ekle</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Yazarlar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Yazar")">Listele</a></li>
                            <li><a id="yazarEkle" href="javascript:void(0)">Ekle</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Kitaplar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Kitap")">Listele</a></li>
                            <li><a href="@Url.Action("Ekle","Kitap")">Ekle</a></li>
                            <li><a href="@Url.Action("VerilenKitap","OduncKitap")">Ödünç Alınan Kitaplar</a></li>
                            <li><a href="@Url.Action("TeslimEdilenKitap","OduncKitap")">Teslim Edilen  Kitaplar </a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Üyeler <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Uye")">Listele</a></li>
                            <li><a href="@Url.Action("Ekle","Uye")">Ekle</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Uyelik")" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i>Üyelik İşlemleri </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">@ViewBag.Title</h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row white-box">
                    @RenderBody()

                </div>

                <!-- /.container-fluid -->
                <footer class="footer text-center"> Kütüphane Otomasyon Sistemi </footer>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        <script src="~/Scriptler/jquery.min.js"></script>
        <script src="~/Scriptler/bootstrap.min.js"></script>
        <script src="~/Scriptler/sidebar-nav.min.js"></script>
        <script src="~/Scriptler/jquery.slimscroll.js"></script>
        <script src="~/Scriptler/waves.js"></script>
        <script src="~/Scriptler/jquery.flot.js"></script>
        <script src="~/Scriptler/jquery.flot.tooltip.min.js"></script>
        <script src="~/Scriptler/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="~/Scriptler/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/Scriptler/jquery.sparkline.min.js"></script>
        <script src="~/Scriptler/jquery.easypiechart.min.js"></script>
        <script src="~/Scriptler/easy-pie-chart.init.js"></script>
        <script src="~/Scriptler/custom.js"></script>
        <script src="~/Scriptler/dashboard2.js"></script>
        <script src="~/Scriptler/jQuery.style.switcher.js"></script>
        <script src="~/Scriptler/jquery.dataTables.min.js"></script>
        <script src="~/Scriptler/dataTables.buttons.min.js"></script>
        <script src="~/Scriptler/buttons.flash.min.js"></script>
        <script src="~/Scriptler/jszip.min.js"></script>
        <script src="~/Scriptler/pdfmake.min.js"></script>
        <script src="~/Scriptler/vfs_fonts.js"></script>
        <script src="~/Scriptler/buttons.html5.min.js"></script>
        <script src="~/Scriptler/buttons.print.min.js"></script>

        <script>
            $(document).ready(function () {
                // Setup - add a text input to each footer cell
                $('#example tfoot th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                });

                // DataTable
                var table = $(document).ready(function () {
                    $('#example').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ]
                    });

                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
                });
            });

        </script>
        <script src="~/Scriptler/Main.js"></script>
        @RenderSection("script", false)
        <script src="~/Scriptler/sweetalert2.min.js"></script>


    </div>
</body>
</html>


